@page
@using CorneliusConceptsOnlineWeb.Pages
@model CorneliusConceptsOnlineWeb.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<hr/>

<p>This site was written in just a few minutes using Visual Studio 2017 in ASP.NET with Razor pages 
    and published to a Web App on Microsoft Azure. It's a static set of web pages but is built in C#
    using a simple MVC pattern.</p>
<p>
    It's amazing how simple the complex task of creating flexible, extendable web sites,
    posting them to the web, and saving them in an online repository is, but as tools evolve, and more
    automation is added to the combined efforts of developers around the world, these capabilities keep growing and simplifying.
    
</p>
<p>
    While this is a simple web site and you can build one yourself with the project templates in Visual Studio, 
    I've posted it to <a href="https://github.com/corneliusdavid/Simple-ASP.NET">GitHub</a>.
</p>
