@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<hr/>

To contact me, please visit the <a href="http://corneliusconcepts.com/contact_us">Contact</a> page on the main site.
